body {
    background: linear-gradient(
        135deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    )
}

.title-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
    
    color: #fafafa;
}