/* This is where I specify the background for each project card */

/* Professional projects */
.shoot > .background {
    background: url("res/template/camping.jpg");
}

.tog > .background {
    background: url("res/projects/tog/title.png");
}

.ray-tracer > .background {
    background: url("res/projects/ray-tracer/title.png");
}

.empires > .background {
    background: url("res/projects/empires/title.png");
}

.gauntlet > .background {
    background: url("res/projects/gauntlet/title.png");
}

.galaxians > .background {
    background: url("res/projects/galaxians/title.png");
}

.ray-shaper > .background {
    background: url("res/projects/ray-shaper/title.png");
}