/* This is where I specify the background for each project card */

/* Professional projects */
.last-resort > .background {
    background: url("res/projects/shoot/splash.jpg");
}

.tog > .background {
    background: url("res/projects/tog/title.png");
}

.ray-tracer > .background {
    background: url("res/projects/ray-tracer/title.png");
}

.empires > .background {
    background: url("res/projects/empires/title.png");
}

.gauntlet > .background {
    background: url("res/projects/gauntlet/title.png");
}

.galaxian > .background {
    background: url("res/projects/galaxian/title.png");
}

.ray-shaper > .background {
    background: url("res/projects/ray-shaper/title.png");
}
