body {
    color: white;
}

.title-heading {
    color: white;
    margin-bottom: 2rem;
}

.background {
    position: fixed;
    
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

.background-blur {
    backdrop-filter: brightness(75%) blur(.75rem);
}

.project .container {
    position: relative;
    padding: 4rem;
    margin-top: 7.5rem;
}

.project .container::after {
    content: "";
    position: absolute;
    left: 2%;
    top: 0;
    /* width: 100%; */
    width: 96%;
    height: 100%;
        
    background: rgba(10, 10, 10, 0.4);
    /* border-radius: 2rem; */
    z-index: -5;
}

.container > *:not(:first-child) {
    padding: 2rem;
}


/* Project description */
/* https://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse   ;
    align-self: center;
}

th {
    text-align: left;
    padding: 1rem 0;
    padding-right: 2rem;
    /* width: 50%; */
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width-small), 1fr));
    grid-gap: 2.5rem;
    padding: 2rem;
}

video {
    width: 100%;
    height: 100%;
}

.contribution-list h2{
    text-align: center;
}

.contribution-list .grid-list:nth-child(even) {
    direction:rtl;
    /* background-color: red; */
}