/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --gradient-1: rgba(56, 56, 56, 0.9);
    --gradient-2: rgba(24, 24, 24, 0.8);
    
    --highlight: rgb(243,101,35);
    --highlight-dim: rgb(167, 66, 20);
    
    --grid-item-width: 35rem;
    --grid-item-width-small: 20rem;
}

html {
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* p,
li {
    font-size: 1.6rem;
} */

p a {
    color: white;
    display: inline-block;
    position: relative;
    /* border-bottom: 2px solid var(--highlight); */
}

p a::before {
    content: "";
    position: absolute;
    left: -5%;
    bottom: 0;
    background-color: var(--highlight);
    width: 110%;
    height: 2px;
    /* transform: scaleX(0); */
    transform-origin: left;
    transition: all 650ms;
    z-index:-10;
}

p a:hover::before {
    height: 95%;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* Header */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    /* The z index of a parent can affect childs? If this is 1 the project cards overlap the hamburger menu */
    /* https://www.freecodecamp.org/news/4-reasons-your-z-index-isnt-working-and-how-to-fix-it-coder-coder-6bc05f103e6c/ */
    z-index: 100; 
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-brand {
    width: 3.5rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: var(--highlight);
}

.nav-list {
    width: 60vw;
    height: 100vh;

    background-color:grey;
    background-image: none;
    
    position: fixed;
    top: 0;
    right: -61vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
    background-image: linear-gradient(
        135deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    );
}

.close {
    position: absolute;
    /* May want to remove this since the hitbox doesn't match up with the X (but it does with the hamburger) */
    width: 3.5rem;
    top: 1rem;
    right: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    /* color: rgba(0, 0, 0, 0.7); */
    color: #fafafa;
}

/* Hero */
.hero {
    width: 100%;
    height: 80vh;
    /* background: linear-gradient(
            135deg,
            var(--gradient-1) 0%,
            var(--gradient-2) 100%
        ),
        url("res/projects/2020/tog/title.png") center no-repeat; */
        

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("res/wave/wave-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
        135deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    );
    background-size: cover;

    z-index: -5;
    opacity: 0.75;
}

.hero > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-message h2 {
    font-size: 2rem;
}

.main-message h3 {
    font-size: 1.6rem;
}

.main-message p {
    text-transform: initial;
}

.btn {
    background-color: var(--highlight);
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: var(--highlight-dim);
}

/* Projects */
.projects {
    padding: 0;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, 0.7);
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
}

.title-heading p {
    text-transform: initial;
}

.title-heading.personal {
    padding-top: 8rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width-small), 1fr));
    grid-gap: 2.5rem;
}

.projects-grid-item {
    min-height: 60rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* cursor: pointer; */
    z-index: 1;
    
    background: linear-gradient(
        135deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    );    
    
    overflow: hidden;
}

.projects-grid-item > .background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    z-index: -10;
    
    transition: all 300ms ease-in-out;
}

.projects-grid-item:hover > .background{
    /* height: 120%; */
    transform: scale(1.1);
}

.projects-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        135deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    );
    opacity: 0.9;
    z-index: -1;
}

.projects-grid-heading {
    padding: 0 0 2rem;    
}

.projects-grid-item i {
    /* font-size: 4rem; */
    color: var(--highlight);
}

.projects-grid-item h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    /* margin: 2rem 0; */
}

.projects-grid-item h3 {
    font-family: "Aldrich", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

/* about-me */
.about-me {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            135deg,
            var(--gradient-1) 0%,
            var(--gradient-2) 100%
        ),
        url("res/about-me.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.about-me::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("res/wave/wave-small-reversed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    width: 100%;
    color: #fafafa;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width-small), 1fr));
    max-width: inherit;
    align-items: center;
}

.about-text-box {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.about-text-box h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.about-text-box h1 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
    text-transform: uppercase;
}

/* .about-text-box i {
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: var(--highlight);
    opacity: 0.5;
    z-index: -1;
} */

.about-text-box p {
    padding: 0.5rem 0;
}

.about-image img {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    border: 2px solid var(--highlight);
}

.about .btn {
    font-size: 3rem;
    margin: 0.5rem;
}

/* Skill */
.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.skill-grid-item img {
    transition: transform 325ms ease-in-out;
}

.skill-grid-item img:hover {
    transform: scale(1.2);
}

.go-back {
    text-align: center;
    font-size: 5rem;   
}

/* .skill-grid-item p {
    color: rgba(0, 0, 0, 0.7);
} */

footer {
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

/* Media queries */
@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }
}

@media screen and (min-width: 480px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width),1fr));
    }
    
    .hero::before {
        height: 10rem;
        background-image: url("res/wave/wave-medium.png");
    }

    .about-me::before {
        height: 10rem;
        background-image: url("res/wave/wave-medium-reversed.png");
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }

    .nav-brand {
        width: 5rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link,
    .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        background-color: var(--highlight);
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }

    .hero {
        height: 100vh;
    }

    .main-message {
        transform: translateY(100%);
    }

    .title-heading h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px) {
    .hero::before {
        height: 22.7rem;
        /* height: 12vw; */
        background-image: url("res/wave/wave-large.png");
    }

    .about {
        top: 65%;
    }
    
    .about-me::before {
        height: 22.7rem;
        /* height: 12vw; */
        background-image: url("res/wave/wave-large-reversed.png");
    }
}

/* @media screen and (min-width: 1200px) {
    .hero {
        height: 100vh;
    }
} */
